<!DOCTYPE html>
<html>
<head>
  <title>NodeBattleship</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/game.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="gamebody">

<style type="text/css">
  #previous , #next{
    width: 5em;
    height: 4em;
  }
  .ctrl-btn {
    cursor: pointer;
    width: 10em;
    height: 4em;
    -webkit-filter: drop-shadow(0 0 1px #c49754);
    filter: drop-shadow(0 0 1px #c49754);
  }
  .ctrl-btn:hover {
    -webkit-filter: drop-shadow(0 0 10px #000);
    filter: drop-shadow(0 0 10px #000); 
  }
</style>

  <div class="container" style="background-color: transparent !important;">
    <div class="row"><br>
    <legend class="woodtext" style="text-align:center;font-size:40px">REPLAY
    </legend><br>
      <!-- Game -->
      <img id="stop" class="ctrl-btn" src="/img/stop.png" style="height:50px;width:50px;float:right">
      <img id="play" class="ctrl-btn" src="/img/play.png" style="height:50px;width:100px;float:right">
      <img id="pause" class="ctrl-btn" src="/img/pause.png" style="height:45px;width:100px;float:right;display:none">
      <img id="previous" class="ctrl-btn" style="float:left" src="/img/left_wood.png">
      <img id="next" class="ctrl-btn" style="float:left" src="/img/right_wood.png">
      <p class="woodtext" id="commentary" style="text-align:center;font-weight:bold"><%=game.player1.username%> vs <%=game.player2.username%>
      </p>
      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">

              <div class="panel-body">
                <!-- Player grids -->
                <div class="row">
                  <div class="col-md-6 player-grid text-center">
                    <h3 class="woodtext"><%=game.player1.username%></h3>
                    <canvas id="canvas1" width="361" height="361">Browser does not support canvas.</canvas>
                  </div>
                  <div class="col-md-6 player-grid text-center">
                    <h3 class="woodtext"><%=game.player2.username%></h3>
                    <canvas id="canvas2" width="361" height="361">Browser does not support canvas.</canvas>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script>
    var canvas1 = document.getElementById('canvas1');
    var canvas2 = document.getElementById('canvas2');
    var context1 = canvas1.getContext('2d');
    var context2 = canvas2.getContext('2d');
    var player1 = "<%=game.player1.username%>";
    var player2 = "<%=game.player2.username%>";
  </script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script>var allShots = [<%for(var i=0;i<game.shots.length;i++){%>{x:<%=game.shots[i].x%>,y:<%=game.shots[i].y%>,player:<%=game.shots[i].player%>,type:'<%=game.shots[i].type%>'},<% } %>];</script>
  <script type="text/javascript" src="/js/replay.js"></script>

  <script>

    drawSquares(context1);
    drawSquares(context2);

    function drawAllShips() {
      drawShips(context1,[<%for(var i=0;i<game.player1ships.length;i++){%>{x:<%=game.player1ships[i].x%>,y:<%=game.player1ships[i].y%>,size:<%=game.player1ships[i].size%>,horizontal:<%=game.player1ships[i].horizontal%>},<% } %>]); drawShips(context2,[<%for(var i=0;i<game.player2ships.length;i++){%>{x:<%=game.player2ships[i].x%>,y:<%=game.player2ships[i].y%>,size:<%=game.player2ships[i].size%>,horizontal:<%=game.player2ships[i].horizontal%>},<% } %>]);
    }
    drawAllShips();


  </script>

</body>

</html>
